#lista{
  align-items: center;
  margin: 30px;
}

#lista li{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0;
  padding: 10px;
  font-size: 18px;
}

#lista li:hover{
  background-color: aqua;
  transition: all 500ms;
  cursor: pointer;
}

#lista li #edit{
  color: rgb(36, 116, 170);
  margin-right: 15px;
}

#lista li #del{
  color: #aa2848;
}

#lista li:hover #del,
#lista li:hover #edit{
  color: black;
  cursor: pointer;
  transition: all 500ms;
}
